
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../../static/css/style.css">
<!-- Responsive-->

    <title>Ingreso al Sistema</title>
</head>
<body>

    <div class="login">

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">

                <div class="card">

                    <div class="card-body">

                        <h2>Ingrese tus credenciales</h2>
                        <a href="/" style=" color: green;">inicio</a>|
                        <a href="../../registro">Registrate</a>
                        <hr>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{form}}


                            <input type="submit" value="Ingresar" class="btn btn-success float-right">
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>



    