{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- section about start -->
  <div class="about_section">
    <div class="about_text">
      <div class="container">
        <h1 class="about_taital_1"><strong><span style="color: #f7941d;">Sobre Nosotros</span> </strong></h1>
        <div class="about_bt">
        </div>
        <div class="about">
          <div class="magna_text"> El Proyecto Arya esta vinculado a la entrega final del curso de Coderhouse, como persona avalo la adopcion de las mascotas callejeras para brindarles una mejor vida. Aprovechando todo lo bueno que tienen para ofrecer a las personas, ya que son animales de gran corazon y cariño.</div>
        </div>
      </div>
    </div>
  </div>

  <!-- section about end -->
  {% endblock %}