
<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load static %}
<head>
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
<h1 style="text-align: center;">Blog</h1>

{% for elemento in articulos %}

<article class="posteado">
    <p class="category">{{ elemento.category }} :</p>
    <p class="title"><b> Titulo: </b> {{ elemento.title }}</p>
    <p class="content"><b> Contenido: </b> {{ elemento.content }}</p>
    <p class="published"><b> Fecha:</b> {{ elemento.published }}</p>
    <p class="author"><b> Autor:</b> {{ elemento.author }}</p>
    

</article>


{% endfor %}



{% endblock %}
</body>
</html>


