{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto</title>
</head>
<body>
  {% block content %}
  <div style="box-sizing: border-box;background-color: gray;border-radius: 30px;">
    <h2 style="text-align: center; color: black; font-size: 40px;">Contactenos!</h2>


    <form action="" method="POST" style="text-align: center;">{% csrf_token %}

       {{ miformulario.as_p}}
    <input type="reset" value="Cancelar" class="btn btn-primary  ">
    <input type="submit" value="Enviar" class="btn btn-secondary">

  </div>
  


  {% endblock %}


</body>
</html>


