{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="texto"><h3>Adoptar un perro Mestizo es gratis</h3><p>Cada cual es libre de hacer lo que quiera con su dinero, pero... ¿porque gastar cientos o miles de pesos, dolares o euros en comprar un perro cuando puedes adoptar uno gratis? No tiene sentido.</p></div>
  <!-- section gallery start -->
    <div class="gallery_main">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="about_taital"><strong><span style="color: #ffffff;">Nuestros</span> Perros</strong></h1>
            <p class="sed_text"> Nuestros Perros son rescatados de la calle como tambien de familias que ya no pueden darle un hogar, debido a condiciones economicas o desfavorables.</p><p class="sed_text1"> Cada mascota esta desparacitada y con todas las vacunas correspondientes, son animales domesticos y cariñosos que ayudan a familias para alegrar sus dias.</p>

          </div>
        </div>
        <div class="gallery_images">
          <div class="row">
            <div class="col-sm-7">
            <div class="gallery_blog">
                           <img src="../static/images/gallery-img1.jpg" style="max-width: 100%; height: 300px; width: 100%;border-radius: 10px;">
                        <div class="overlay">
                            <div class="text"><strong>PuppyDogPetAnimal</strong></div>
                        </div>
              </div>
            </div>
            <div class="col-sm-5">
            <div class="gallery_blog">
                           <img src="../static/images/gallery-img2.jpg" style="max-width: 100%; height: 300px; width: 100%;border-radius: 10px;">
                        <div class="overlay">
                            <div class="text"><strong>PuppyDogPetAnimal</strong></div>
                        </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gallery_images">
          <div class="row">
            <div class="col-sm-5">
            <div class="gallery_blog">
                           <img src="../static/images/gallery-img3.jpg" style="max-width: 100%; width: 100%; border-radius: 10px;">
                        <div class="overlay">
                            <div class="text"><strong>PuppyDogPetAnimal</strong></div>
                        </div>
              </div>
            </div>
            <div class="col-sm-7">
            <div class="gallery_blog">
                           <img src="../static/images/gallery-img4.jpg" style="max-width: 100%; height: 300px; width: 100%;border-radius: 10px;">
                        <div class="overlay">
                            <div class="text"><strong>PuppyDogPetAnimal</strong></div>
                        </div>
              </div>
            <div class="gallery_blog">
                           <img src="../static/images/gallery-img5.jpg" style="max-width: 100%; height: 297px; width: 100%;border-radius: 10px;">
                        <div class="overlay">
                            <div class="text"><strong>PuppyDogPetAnimal</strong></div>
                        </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery_section_2">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h1 class="pet_taital">Adopte a una mascota, sea parte de algo hermoso</h1>
            <p class="lorem_text"><b> los perros sin raza tienen muchas ventajas sobre los perros de raza, por ejemplo:</b><br><br><b>1</b> Son mas fuertes y resistentes debido a la cruza entre varias razas, haciendo que su genetica sea superior. <br><br> <b>2</b> Los perros mestizos son mas cariñosos que los de raza. <br><br> <b>3</b> Son perros unicos y exclusivos dado que ninguno es igual a otro como los perros de raza seleccionados. <br> <br> <b>4</b> Adoptar un perro mestizo es GRATIS. </p>
          <div class="banner_bt">
          
        </div>
        <div class="box_3">
          <h1 class="numbar">03</h1>
        </div>
          </div>
          <div class="col-sm-4">
            <div class="dog_img"><img src="../static/images/dog-img.png" style="max-width: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
  <!-- section gallery end -->
  {% endblock %}